<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link">
    <inertial>
      <origin xyz="-0.017897 -0.0059216 0.12557" rpy="0 0 0" />
      <mass value="31.075" />
      <inertia ixx="0.67537" ixy="-0.00030935" ixz="-0.0025852"
               iyy="0.61552" iyz="-0.0003748" izz="0.65918" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="${material_rgba}" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
    </collision>
  </link>

   <gazebo reference="base_link">
    <mu1>200</mu1>
    <mu2>200</mu2>
    <kp>1000000</kp>
    <kd>1</kd>
  </gazebo>

</robot>