

[submodule "manipulation/packages/gpd"]
	path = manipulation/packages/gpd
	url = https://github.com/RoBorregos/gpd.git
	
[submodule "manipulation/packages/pymoveit2"]
	path = manipulation/packages/pymoveit2
	url = https://github.com/RoBorregos/pymoveit2
  
[submodule "navigation/packages/PlayStation-JoyInterface-ROS2"]
	path = navigation/packages/PlayStation-JoyInterface-ROS2
	url = https://github.com/HarvestX/PlayStation-JoyInterface-ROS2.git
	branch = humble
[submodule "navigation/packages/sllidar_ros2"]
	path = navigation/packages/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2
[submodule "manipulation/packages/xarm_ros2"]
	path = manipulation/packages/xarm_ros2
	url = https://github.com/RoBorregos/xarm_ros2.git
[submodule "manipulation/packages/foam"]
	path = manipulation/packages/foam
	url = https://github.com/CoMMALab/foam.git
[submodule "manipulation/packages/cricket"]
	path = manipulation/packages/cricket
	url = https://github.com/CoMMALab/cricket.git
[submodule "manipulation/packages/vamp"]
	path = manipulation/packages/vamp
	url = https://github.com/KavrakiLab/vamp.git
