

[submodule "manipulation/packages/gpd"]
	path = manipulation/packages/gpd
	url = https://github.com/RoBorregos/gpd.git
	
[submodule "manipulation/packages/xarm_ros2"]
	path = manipulation/packages/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
	branch = humble
[submodule "manipulation/packages/pymoveit2"]
	path = manipulation/packages/pymoveit2
	url = https://github.com/RoBorregos/pymoveit2
  
[submodule "navigation/packages/PlayStation-JoyInterface-ROS2"]
	path = navigation/packages/PlayStation-JoyInterface-ROS2
	url = https://github.com/HarvestX/PlayStation-JoyInterface-ROS2.git
	branch = humble
[submodule "navigation/packages/sllidar_ros2"]
	path = navigation/packages/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2
