**/install
**/devel
**/build
**/log
*.user
**/.vscode/
**/__pycache__/
.ruff_cache
**.env
**/chromadb/*
.prev-vscode
**.pt
**.pth
**.gz
hri/packages/nlp/assets/**
.cache
!hri/packages/nlp/assets/download-model.sh
