<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link">
    <inertial>
      <origin xyz="0.031681 -0.0052694 0.10165" rpy="0 0 0" />
      <mass value="200.075" />
      <inertia ixx="0.44959" ixy="-0.005113" ixz="0.017804"
               iyy="0.46194" iyz="-0.00061969" izz="0.78515" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="${material_rgba}" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
    </collision>
    <collision>
      <origin xyz=".09 -0.12 .49" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.063"/>
      </geometry>
    </collision>
  </link>

  <link name="base_footprint" />
  <joint name = "base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0 "/>
  </joint>

  <link name="xarm_base" />
  <joint name="xarm_base_joint" type="fixed">
    <origin xyz="0.036105613000001 0 0.441000000000001" rpy="0 0 1.57" />
    <parent link="base_link" />
    <child link="xarm_base" />
  </joint>
  
</robot>