<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<material name="black">
        <color rgba="0 0 0 1"/>
    </material>
<joint name="caster_wheel_joint_left" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel_left"/>
        <origin xyz="0.11 0.1 -0.09"/>
    </joint>


    <link name="caster_wheel_left">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1" />
            <inertia ixx="${(2/5) * 0.1 * (0.05*0.05)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * 0.1 * (0.05*0.05)}" iyz="0.0"
                    izz="${(2/5) * 0.1 * (0.05*0.05)}" />
        </inertial>
    </link>
  <joint name="caster_wheel_joint_right" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel_right"/>
        <origin xyz="0.11 -0.1 -0.09"/>
    </joint>


    <link name="caster_wheel_right">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1" />
            <inertia ixx="${(2/5) * 0.1 * (0.05*0.05)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * 0.1 * (0.05*0.05)}" iyz="0.0"
                    izz="${(2/5) * 0.1 * (0.05*0.05)}" />
        </inertial>
    </link>


</robot>