<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="laser">
    <inertial>
      <origin xyz="-1.3878E-17 3.3818E-34 -0.0125" rpy="0 0 0" />
      <mass value="0.096211" />
      <inertia ixx="3.4476E-05" ixy="-1.3255E-52" ixz="6.0099E-37"
               iyy="3.4476E-05" iyz="8.1342E-38" izz="5.8929E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}LIDAR.STL" />
      </geometry>
      <material name="">
        <color rgba="${black_rgba}" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}LIDAR.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar" type="fixed">
    <origin xyz="0.15026 0 0.002" rpy="0 0 1.57" />
    <parent link="base_link" />
    <child link="laser" />
    <axis xyz="0 0 0" />
  </joint>

<link name="imu_base">
    <inertial>
      <origin xyz="-1.3878E-17 3.3818E-34 -0.0125" rpy="0 0 0" />
      <mass value="0.096211" />
      <inertia ixx="3.4476E-05" ixy="-1.3255E-52" ixz="6.0099E-37"
               iyy="3.4476E-05" iyz="8.1342E-38" izz="5.8929E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="">
        <color rgba="${black_rgba}" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <joint name="imu_base_joint" type="fixed">
    <origin xyz="0.15026 0 0.002" rpy="3.1416 3.1416 1.57" />
    <parent link="base_link" />
    <child link="imu_base" />
    <axis xyz="0 0 0" />
  </joint>

</robot>