services:
  manipulation:
    container_name: home2-manipulation
    build:
      context: ../..
      dockerfile: docker/manipulation/Dockerfile.cuda
      args:
        BASE_IMAGE: roborregos/home2:cuda_base
    image: roborregos/home2:manipulation-cuda
    volumes:
      - ../../:/workspace/src/home2
      - /dev:/dev
      - /tmp:/tmp
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./build:/workspace/build
      - ./install:/workspace/install
      - ./log:/workspace/log
      - ../frida_interfaces_cache:/workspace/frida_interfaces_cache
      - ./.bash_aliases:/home/ros/.bash_aliases
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    network_mode: host
    user: ${LOCAL_USER_ID}:${LOCAL_GROUP_ID}
    privileged: true
    devices:
      - /dev:/dev
      - /dev/video0:/dev/video0
    environment:
      DISPLAY: :0
      TERM: xterm-256color
    # Memory limits for non-Ubuntu distributions
    ulimits:
      nofile:
        soft: 1024
        hard: 524288
    tty: true
    stdin_open: true    
    working_dir: /workspace
    command: >    
      bash -c "${COMMAND:-/bin/bash}"
