services:
  integration:
    container_name: home2-integration
    build:
      context: ../..
      dockerfile: docker/integration/Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE:-roborregos/home2:cpu_base} 
    image: ${IMAGE_NAME:-roborregos/home2:integration-cpu}
    volumes:
      - ../../:/workspace/src
      - /dev:/dev
      - /tmp:/tmp
      - ./build:/workspace/build
      - ./install:/workspace/install
      - ./log:/workspace/log
      - ../frida_interfaces_cache:/workspace/frida_interfaces_cache
    network_mode: host
    user: ${LOCAL_USER_ID}:${LOCAL_GROUP_ID}
    privileged: true
    runtime: ${DOCKER_RUNTIME:-}
    group_add: 
      - video
    environment:
      DISPLAY: ${DISPLAY}
      TERM: xterm-256color
      QT_X11_NO_MITSHM: 1
      QT_DEBUG_PLUGINS: 1
    tty: true
    stdin_open: true    
    working_dir: /workspace
    command: >
      bash -c "${COMMAND:-/bin/bash}"