services:
  display:
    container_name: home2-hri-display-${ENV_TYPE:-cpu}
    image: roborregos/home2:hri-display-${ENV_TYPE:-cpu}
    build:
      context: ../../..
      dockerfile: docker/hri/dockerfiles/Dockerfile.display
      args:
        BASE_IMAGE: roborregos/home2:${ENV_TYPE:-cpu}_base
    volumes:
      - ../../../hri/display/:/app
      - /dev:/dev
    environment:
      NPM_CONFIG_CACHE: /tmp/.npm
    user: ${LOCAL_USER_ID:-1000}:${LOCAL_GROUP_ID:-1000}
    network_mode: host
    command: ["/bin/bash", "/display-entrypoint.sh"]
