services:
  display:
    container_name: home2-hri-display-${ENV_TYPE:-cpu}
    image: roborregos/home2:hri-display-${ENV_TYPE:-cpu}
    build:
      context: ../../..
      dockerfile: docker/hri/dockerfiles/Dockerfile.display
      args:
        BASE_IMAGE: roborregos/home2:${ENV_TYPE:-cpu}_base
    volumes:
      - ../../../hri/display/:/app
      - /dev:/dev
    network_mode: host
    command: ["/bin/bash", "/display-entrypoint.sh"]
