# Speech variables
x-speech-devices: &speech-devices
  PULSE_SERVER: unix:/tmp/pulse/pulseaudio.socket
  PULSE_COOKIE: /tmp/pulse/pulseaudio.cookie

services:
  hri-ros:
    container_name: home2-hri-ros-${ENV_TYPE:-cpu}
    build:
      context: ../../..
      dockerfile: docker/hri/dockerfiles/Dockerfile.ROS
      args:
        BASE_IMAGE: roborregos/home2:${ENV_TYPE:-cpu}_base
    image: roborregos/home2:hri-${ENV_TYPE:-cpu}
    volumes:
      - ../../../:/workspace/src
      - ~/.config/pulse:/tmp/pulse
      - /dev:/dev
      - ../build:/workspace/build
      - ../install:/workspace/install
      - ../log:/workspace/log
      - ../../frida_interfaces_cache:/workspace/frida_interfaces_cache
    network_mode: host
    user: ${LOCAL_USER_ID:-1000}:${LOCAL_GROUP_ID:-1000}
    privileged: true
    group_add:
      - video
    environment:
      <<:
        - *speech-devices
      DISPLAY: ${DISPLAY:-:0}
      TERM: xterm-256color
    env_file:
      - .env
    tty: true
    entrypoint: ["bash", "-il", "-c"]
    command: ["${COMMAND:-/bin/bash}"]
