services:
  navigation:
    container_name: home2-navigation
    build:
      context: ../..
      dockerfile: ${DOCKERFILE:-docker/navigation/Dockerfile.gpu}
      args:
        BASE_IMAGE: ${BASE_IMAGE:-roborregos/home2:gpu_base} 
    image: ${IMAGE_NAME:-roborregos/home2:navigation-gpu}
    volumes:
      - ../../:/workspace/src
      - /dev:/dev
      - /dev/video0:/dev/video0
      - /tmp:/tmp
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./build:/workspace/build
      - ./install:/workspace/install
      - ../frida_interfaces_cache:/workspace/frida_interfaces_cache
      - ./log:/workspace/log
      - $HOME/.Xauthority:/home/ros/.Xauthority:rw
    network_mode: host
    user: ${LOCAL_USER_ID}:${LOCAL_GROUP_ID}
    privileged: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    group_add: 
      - video
    environment:
      DISPLAY: ${DISPLAY:-:0}
      TERM: xterm-256color
      QT_X11_NO_MITSHM: 1
      QT_DEBUG_PLUGINS: 1
    tty: true
    stdin_open: true    
    working_dir: /workspace
    command: >
      bash -c "${COMMAND:-/bin/bash}"