<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link">
    <inertial>
      <origin xyz="-0.017897 -0.0059216 0.12557" rpy="0 0 0" />
      <mass value="1000.075" />
      <inertia ixx="0.67537" ixy="-0.00030935" ixz="-0.0025852"
               iyy="0.61552" iyz="-0.0003748" izz="0.65918" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="${material_rgba}" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="base_footprint" />
  <joint name = "base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0 "/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="xarm_base" />
  <joint name="xarm_base_joint" type="fixed">
    <origin xyz="0.0049756 0 0.44" rpy="0 0 1.57" />
    <parent link="base_link" />
    <child link="xarm_base" />
    <axis xyz="0 0 1"/>
  </joint>
  
</robot>
