<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="zed_gazebo" params="prefix:='zed' ">
    <!-- Depth camera sensor -->
    <gazebo reference="zed_left_camera_frame">
      <sensor name="zed" type="depth">
        <update_rate>20</update_rate>
        <camera>
          <horizontal_fov>1.91986218</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3</far>
          </clip>
        </camera>
        <plugin name="zed_left_camera_frame_controller" filename="libgazebo_ros_camera.so">
          <visualize>true</visualize>
              <imageTopicName>/zed/zed_node/rgb/image_rect_color</imageTopicName>
              <cameraInfoTopicName>/zed/zed_node/rgb/camera_info</cameraInfoTopicName>
              <depthImageTopicName>/zed/zed_node/depth/depth_registered</depthImageTopicName>
              <depthImageCameraInfoTopicName>/zed/zed_node/depth/camera_info</depthImageCameraInfoTopicName>
              <pointCloudTopicName>depth/color/points</pointCloudTopicName>
              <frame_name>zed_left_camera_optical_frame</frame_name>
              <min_depth>0.1</min_depth>
              <max_depth>5.0</max_depth>
        </plugin>
      </sensor>
    </gazebo>
    
  </xacro:macro>

</robot>